@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap');

body 
{
    font-family: 'Inter', sans-serif;

    .custom-scrollbar::-webkit-scrollbar
    {
        width:6px;
    }

    .custom-scrollbar::-webkit-scrollbar-track
    {
        background: #1ff5f9;
        border-radius: 10px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb
    {
        background: #cbd5e1;
        border-radius: 10px;
    }
}